/* Your styles here */
body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.65;
    text-align: center;
}

header {
    background-color: black;
}

header div img {
    padding: 2.2rem 0;
    width: 35%;
}

main {
    background-color: white;
}

nav {
    padding: 3rem 3rem 2.5rem 3rem;
    background-image: url('../images/banner.jpg');
    background-position: center center;
    background-size: cover;
}

h1 {
    color: #25a2c3;
    font-family: Montserrat;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

nav p {
    padding-bottom: 2rem;
}

nav div button {
    background-color: #f04c2f;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5%;
    border-style: none;
    padding: 0.8rem 2rem
}

.impaginazione {
    padding: 3.5rem 3rem;
}

h3 {
    color: #25a2c3;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 1.5;
    padding: 1rem 0
}

.impaginazione p {
    padding-bottom: 1rem;
}

.impaginazione div img {
    width: 100%;
    border-radius: 50%;
    padding: 1rem 0;
}

#testimonianze {
    background-color: #e22d0e;
    color: white;
}

#testimonianze h2 {
    font-family: Montserrat;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 2rem;
}

aside{
    padding: 0;
}

.vetrina {
    margin: 1.8rem;
    border: 1px #dee1e3 solid;
}

.vetrina div img {
    width: 100%;
}

